<%- include("partials/header.ejs") %>



<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a><img class = "Logo" src="logo.png" alt=""> Care Point</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/doctorHome">Home</a></li>
                    <li><a class="nav-link scrollto" href="/doctorAppointments">My Appointments</a></li>
              </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>



        </div>
    </header>
    <section id="hero" class="d-flex align-items-center" style="padding-top: 0px">
        <div class="container">
            <h1>Hi Dr. <%= doctorName %> .<br> Welcome to Care Point</h1>
            <h2>Healing lives, with care and compassion.</h2>

        </div>
    </section>


    <body>
        <main id="main">

            <!-- ======= Why Us Section ======= -->
            <section id="why-us" class="why-us">
                <div class="container">




                    <div class="icon-boxes d-flex flex-column boxshadow ">


                        <div class="icon-box mt-4 mt-xl-0" style="padding-top: 30px;">
                            <% if(text){ %>
                            <div class="alert alert-primary" role="alert">
                                Your Schedule Was Updated Succesfully !
                              </div>
                            <% } %>
                            <h1 >Update Schedule</h1> <br>
                            <form action="/updateSchedule" method="post">
                                <input class="reveal1" type="date" name="date" id=""> <br> <br>

                                <div class="row reveal1">
                                    <div class="col-1">
                                        <strong>Slot 1 : </strong>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="slot1" id="">
                                            <option value="Free">Free</option>
                                            <option value="Busy">Busy</option>
                                        </select>
                                    </div>

                                </div> <br>
                                <div class="row reveal1">
                                    <div class="col-1">
                                        <strong>Slot 2 : </strong>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="slot2" id="">
                                            <option value="Free">Free</option>
                                            <option value="Busy">Busy</option>
                                        </select>
                                    </div>

                                </div> <br>
                                <div class="row reveal1">
                                    <div class="col-1">
                                        <strong>Slot 3 : </strong>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="slot3" id="">
                                            <option value="Free">Free</option>
                                            <option value="Busy">Busy</option>
                                        </select>
                                    </div>

                                </div> <br>

                             
                                 
                    
                                <input type="text" name="doctorName" value="<%= doctorName %>" id="" hidden>
                                <button class="allButtons reveal1" type="submit">Update Schedule </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


        </main>
        <%- include("partials/footer.ejs") %>