<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h2>Welcome to CarePoint</h2>
            <h3>Choose any of the below two options</h3>
            <div class="login-options">
                <a class="mainPageButton" href="/citizen" >Login as Citizen</a>
                <a class="mainPageButton" href="/doctor">Login as Doctor</a>

            </div>
        </div>
    </div>
</body>

</html>



</html>