<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  <link rel="stylesheet" href="userMainPages.css">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS, Font-Awesome, Bootstrap Files -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <title>User Main Page</title>
</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg sticky-top" style="background-color:  #f2f2f2;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="" alt="">
        Website Name and logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-5">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="">Doctor-On-Demand</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="">Schedule Appointments</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="/myAppointments">My Appointments</a>
          </li>

        </ul>
      </div>
    </div>
  </nav> -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a>Care Point</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/userHome">Home</a></li>
          <li><a class="nav-link scrollto" href="/doctorOnDemand">Doctor-On-Demand</a></li>
          <li><a class="nav-link scrollto" href="/clinicAppointment">Schedule Appointment</a></li>
          <li><a class="nav-link scrollto" href="/myAppointments">My Appointments</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>



    </div>
  </header>

  <section id="hero" class="d-flex align-items-center" style="padding-top: 0px">
    <div class="container">
      <h1>Hi <%= userName %> .<br> Welcome to Care Point</h1>
      <h2>Healing lives, with care and compassion.</h2>

    </div>
  </section>


  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Care Point?</h3>
              <p>
                We at Care Point Offer High-quality medical care, State-of-the-art facilities, Comprehensive range of
                services, Patient-centered approach, Convenient locations.
              </p>
              <div class="text-center">

              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0 boxshadow">
                    <i class="fas fa-hospital-alt"></i>
                    <h4>Newest Technologies</h4>
                    <p>Care Point Hospital invests in innovative technologies, such as telemedicine and Artificial
                      Intelligence, to improve patient care and outcomes.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fas fa-user-md"></i>
                    <h4>Experienced Doctors</h4>
                    <p>Care Point Hospital has a team of experienced doctors who provide personalized, compassionate
                      care to patients across all specialties.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="fas fa-briefcase-medical"></i>
                    <h4>High Customer Satisfaction</h4>
                    <p>Care Point Hospital achieves high customer satisfaction by providing quality healthcare services
                      and putting patients first.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>

  </main>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- JS File -->
  <script src="assets/js/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>